
@import "./meyers.css";

@font-face {
  font-family: "gilroy";
  src: url("../public/gilroy.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "gilroyLight";
  src: url("../public/gilroyLight.woff") format('woff');
  font-weight: lighter;
}

@font-face {
  font-family: "gilroyItalic";
  src: url("../public/gilroyItalic.woff") format('woff');
  font-weight: italic;
}


html,

body, {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    word-break: normal;
    font-family: 'gilroy', 'Arial', sans-serif !important;
    color: #2C2C2C;
    background-color: #F0ECE6;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.underline {
  height: 4px;
  width: 132px;
  background-color: #4BE8B9;
  display: block;
}
.underlineMedium {
  height: 4px;
  width: 250px;
  background-color: #4BE8B9;
  display: block;
}

.underlineBig {
  height: 4px;
  width: 600px;
  background-color: #4BE8B9;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  @media screen and (max-width: 600px) {
    font-size: 40px;
}
  font-size: 85px;
}

.container {
  margin: 0px 200px;
  @media only screen and (max-width: 1600px) {
    margin: 0px 100px;
  }
  @media only screen and (max-width: 1200px) {
    margin: 0px 50px;
  }
  @media only screen and (max-width: 600px) {
    margin: 0px 15px;
  }
  .wrapper {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden;
    word-break: normal;
  }
}

.tittel {
  font-family: gilroy;
  font-size: 33px;
  margin-bottom: 250px;
  margin-top: 50px;
}

.ingress {
  @media screen and (max-width: 600px) {
      margin-bottom: 10vh;
  }
  margin-bottom: 25vh;

  .intro {
    @media screen and (max-width: 600px) {
      margin-bottom: 4vh;
    }
    padding-right: 25vw;
    margin-bottom: 15px;
  }
  .introTekst {
    font-family: gilroyLight;
    line-height: normal;
      @media screen and (max-width: 600px) {
        font-size: 22px;
    }
    font-size: 27px;
    padding-right: 20vw;
  }
}

.quote {
  font-family: gilroyItalic;
  @media screen and (max-width: 600px) {
    margin-bottom: 10vh;
  }
  margin-bottom: 25vh;
 
  .quoteContainer {
    @media screen and (max-width: 600px) {
      font-size: 25px;
      padding: 0vh 4vw;
    }
    @media screen and (max-width: 1200px) {
      font-size: 25px;
      padding: 0vh 5vw;
    }
    padding: 0vh 15vw;
    font-style: italic;
    font-size: 40px;
    color: #2C2C2C;
    margin-bottom: 18px;
  }
  .quoter {
    text-align: center;
    font-family: gilroyLight;
    @media screen and (max-width: 600px) {
      font-size: 19px;
      padding: 0vh 5vw;
    }
    padding: 0vh 10vw;
    font-size: 18px;
  }
}

.pageFooter {
  font-size: 30px;
  overflow: hidden;
  width: 100%;
  .pageFooterContainer {
    height: 150px;
    display: flex;
    justify-content: center;
    //background-color: rgb(175, 172, 172);
    width: 100%;
    align-items: flex-end;
    padding: 20px;
    .logo {
      display: flex;
      justify-content: flex-end;
    }
  }
}

/*------------------------------------------MODAL------------------------------------------*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:#2C2C2C; /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50vw;
    p {
         @media screen and (max-width: 600px) {
        font-size: 18px;
      }
    }
  }

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*------------------------------------------MODAL END------------------------------------------*/

/*------------------------------------------FORM START------------------------------------------*/
.form {
  padding: 50px;
  background-color:#fefefe;
  font-family: gilroyLight;
  margin: 0 500px 250px 0;
  .formWrapper {
    .formTitle {
      color: rgb(44,44,44,0.6);
      font-family: gilroyItalic;
      font-size: 22px;
      margin-bottom: 5px;
    }
    .formText {
      font-size: 24px;
      margin-bottom: 90px;
      line-height: normal;
      .boldText {
        font-family: gilroy;
        font-size: 48px;
        margin-bottom: 20px;
      }
    }
    .questionText {
      text-align: center;
      font-size: 21px;
      margin-bottom: 15px;
    }
    .buttons {
      display: flex;
      justify-content: space-around;
      //background-color: rgba(211, 211, 211, 0.534);
      border: 0;
      margin-bottom: 80px;
      .enig {
        font-family: gilroy;
        padding-left: 5px;
        font-size: 20px;
        align-self: center;
        color: #4BE8B9;
      }
      .ikkeEnig {
        font-family: gilroy;
        padding-right: 5px;
        font-size: 20px;
        align-self: center;
        color: rgb(192, 83, 83);
      }
    }
  }
  .g-recaptcha {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
}

  input[type="radio"] {
    appearance: none;
    @media screen and (max-width: 740px) {
      width: 1.15em;
      height: 1.15em;
    }
    margin: 15px;
    width: 2.15em;
    height: 2.15em;
    border: 0.10em solid gray;
    border-radius: 50%;
    transform: translateY(-0.075em);
    transition: border 0.4s linear;
    transition: background-color 0.6s linear;
    &:hover {
      background-color: #4BE8B9;
      border: 0.20em solid #B5F5E2;
    }
    &:focus {
      background-color: #15A77B;
    }
    &:checked {
      background-color:  #15A77B;
    }
  }

input,
textarea {
  width: 100%;
  margin-top: 1rem;
  border: none;
  outline: 0;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  //background-color: #4BE8B9;

  &:focus{
    background-color: rgb(63, 109, 249);

  }
  &:active{
    background-color: rgb(63, 109, 249);
  }
}

button {
  @media screen and (max-width: 600px) {
    font-size: 18px;
  }
  //background-color:#4BE8B9;
  border: none;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  width: 80%;
  border-radius: 12px;
  margin: auto;
  padding: 0.6rem;
  border: 2px solid transparent;
  cursor: pointer;
  justify-content: center;
  display: flex;
  background-color: #4BE8B9;
  &:hover {
    background-color: #15A77B;
  }
}

.afterForm {
  font-size: 28px;
}

/*------------------------------------------FORM END------------------------------------------*/





