
@import "./meyers.css";

@font-face {
  font-family: "gilroy";
  src: url("../public/gilroy.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "gilroyLight";
  src: url("../public/gilroyLight.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "gilroySemiBold";
  src: url("../public/gilroySemiBold.woff") format('woff');
}

@font-face {
  font-family: "gilroyItalic";
  src: url("../public/gilroyItalic.woff") format('woff');
  font-weight: italic;
}

$bertaBlack: #2C2C2C;
$bertaWhite: #ffffffc6;
$bertaGreen: #4BE8B9;
$bertaGray: #F5F5F5;

$bertaGutterLarge: 27vw;
$bertaGutter: 40px;
$bertaGutterMobile: 10px;

$bottomMargin: 10px;
 
strong {
  font-weight: bold;
}

html, 
body, {
    width: 100%;
    max-width: 2100px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    word-break: normal;
    font-family: 'gilroyLight', 'Arial', sans-serif !important;
    line-height: normal;
    color: $bertaBlack;
    background-color: $bertaWhite;
    scroll-behavior: smooth;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  @media screen and (min-width: 480px) {
    font-size: 90px;
  }
  font-family: gilroySemiBold;
  font-size: 55px;
}

p {
  @media screen and (min-width: 480px) {
    font-size: 22px;
  }
  font-size: 19px;
  line-break: strict;
}

a {
  text-decoration: none;
  color: $bertaBlack;
}

.container {
  margin: 140px $bertaGutterMobile;
  @media screen and (min-width: 480px) {
    margin: 160px $bertaGutter;
  }
  @media screen and (min-width: 1024px) {
    margin: 180px $bertaGutterLarge;
  }
  
  .menu {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: $bottomMargin;
    display: none;
  }
  .heading {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: $bottomMargin;
    text-align: center;
  }
  .headingIntro {
    margin-bottom: $bottomMargin;
  }

  .image {
    position: relative;
    width: 100%;
    //min-height: 100%;
    overflow: "hidden";
    display: grid;
    grid-template-columns: 1fr;
    img {
      min-height: 100%;
      min-width: 100%;
      max-width: 100%;
      object-fit: contain;
      display: block;
    }
  }
}

.pageFooter {
  @media screen and (min-width: 480px) {
    height: 100px;
    font-size: 25px;
  }
  font-family: gilroySemiBold;
  font-size: 20px;
  margin: 10px $bertaGutterMobile;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  text-align: center;
  background-color: lightblue;
  height: 50px;
  a:hover {
    color:grey
  }
}


