

html,
body, {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    word-break: normal;
    font-family: 'Helvetica', 'Arial', sans-serif !important;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  @media screen and (max-width: 600px) {
    font-size: 40px;
}
  font-size: 80px;
}

.container {
  margin: 0px 550px;
  @media only screen and (max-width: 1600px) {
    margin: 0px 250px;
  }
  @media only screen and (max-width: 1200px) {
    margin: 0px 120px;
  }
  @media only screen and (max-width: 600px) {
    margin: 0px 15px;
  }
  .wrapper {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden;
    word-break: normal;
  }
}

.tittel {
  margin-bottom: 55px;
}

.ingress {
  @media screen and (max-width: 600px) {
      margin-bottom: 10vh;
  }
  margin-bottom: 25vh;
  .introTekst {
      @media screen and (max-width: 600px) {
        font-size: 22px;
    }
    font-size: 25px;
  }
  .intro {
    @media screen and (max-width: 600px) {
      //margin-bottom: 45px;
      margin-bottom: 4vh;
    }
    //margin-bottom: 85px;
  }
}

.quote {
  @media screen and (max-width: 600px) {
    margin-bottom: 10vh;
  }
  margin-bottom: 25vh;
 
  .quoteContainer {
    @media screen and (max-width: 600px) {
      font-size: 25px;
      padding: 0vh 4vw;
    }
    @media screen and (max-width: 1200px) {
      font-size: 25px;
      padding: 0vh 5vw;
    }
    padding: 0vh 5vw;
    font-style: italic;
    font-size: 39px;
    color: rgb(115, 114, 114);
  }
  .quoter {
    text-align: center;
    @media screen and (max-width: 600px) {
      font-size: 19px;
      padding: 0vh 5vw;
    }
    padding: 0vh 10vw;
    color: rgb(156, 156, 156);
    font-size: 24px;
  }
}



